<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1002305900075-9ur2idsnunh35i9gtnd2a8h950gv0vlf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002305900075-9ur2idsnunh35i9gtnd2a8h950gv0vlf</string>
	<key>API_KEY</key>
	<string>AIzaSyAkNO9OUfW9pO8WAGRynn7qNYUNk_ItysM</string>
	<key>GCM_SENDER_ID</key>
	<string>1002305900075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.alpagaga.pointsverts</string>
	<key>PROJECT_ID</key>
	<string>points-verts-328310</string>
	<key>STORAGE_BUCKET</key>
	<string>points-verts-328310.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002305900075:ios:5b796ce177d1c60e6fa46e</string>
</dict>
</plist>